.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.nav-item {
    color: black;
    text-decoration: none;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}