.receipts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-bar {
    position: fixed;
    display: flex;
    height: 50px;
    gap: 5px;
    margin: 10px;
}

.tool-item {
    margin: 0;
    width: 150px;
    display: flex;
    background-color: #c7def5;
    border: black 1px solid;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.tool-item:hover {
    background-color: #a6c8e8;
    text-decoration: underline;
}

.receipts-list {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    top: 70px;
    z-index: -1;
}

app-receipt {
    width: 100%;
    border: black 1px solid;
    
    margin-bottom: 5px;
}

.pay-btn {
    width: 35px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}