.receipt {
    display: flex;
    height: 60px;
    background-color: #c7def5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.additional-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.actions {
    display: flex;
}