<div class="about-div">
    <p>Лабораторна робота №3</p>
    <p>Тема роботи: <b>веб сервіси (частина 2)</b> </p>
    <p><b>Мета роботи:</b> Оволодіти практичними прийомами розробки RESTful веб сервісів</p>
    <p class="todo"><b>Послідовність роботи:</b></p>
    <ol>
        <li>
            Напишіть REST-сервіс для обраної задачі, який буде опрацьовувати запити різних
            видів (Get, Post, Put, Delete).
        </li>
        <li>
            Можна використовувати будь-яку мову програмування / фреймворк.
        </li>
        <li>
            Дані повинні зберігатися хоча б на час роботи вашого сервісу. Відповідно можна
            використати як базу даних, так і просто зберігати інформацію в оперативній
            пам’яті.
        </li>
        <li>
            Для демонстрації роботи програми використайте будь-який http клієнт,
            наприклад, Postman
        </li>
        <li>
            Оформити звіт про роботу за такою структурою:
            <ul>
                <li>
                    назва роботи;
                </li>
                <li>
                    мета роботи;
                </li>
                <li>
                    послідовність роботи;
                </li>
                <li>
                    індивідуальне завдання;
                </li>
                <li>
                    текст програми;
                </li>
                <li>
                    скріншоти з http запитами та відповідями від сервісу;
                </li>
                <li>
                    висновки.
                </li>
            </ul>
        </li>
    </ol>
    <br>
    <p>Лабораторна робота №4</p>
    <p>Тема роботи: <b>Мікросервіси</b> </p>
    <p><b>Мета роботи:</b> Оволодіти практичними прийомами розробки мікросервісів</p>
    <p class="todo"><b>Послідовність роботи:</b></p>
    <ol>
        <li>
            Розбийте систему, розроблену вами у лабораторній роботі №3 на окремі
            мікросервіси.
        </li>
        <li>
            Мікросервіси можна запускати локально на окремих портах, або використати
            Docker контейнери.
        </li>
        <li>
            Для демонстрації роботи програми використайте будь-який http клієнт,
            наприклад, Postman
        </li>
        <li>
            Оформити звіт про роботу за такою структурою:
            <ul>
                <li>
                    назва роботи;
                </li>
                <li>
                    мета роботи;
                </li>
                <li>
                    послідовність роботи;
                </li>
                <li>
                    індивідуальне завдання;
                </li>
                <li>
                    текст програми;
                </li>
                <li>
                    скріншоти з http запитами та відповідями від сервісу;
                </li>
                <li>
                    висновки.
                </li>
            </ul>
        </li>
    </ol>
    <br>
    <p>Варіант 7</p>
    <p>Система Телефонна станція. Адміністратор здійснює під’єднання Абонентів.
        Абонент може вибрати одну або кілька Послуг, які надаються. Абонент оплачує
        Рахунок за розмови і Послуги. Адміністратор може переглянути список неоплачених
        Рахунків і заблокувати Абонента.
    </p>
</div>
