.account-div {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    background-color: aliceblue;
    border: solid 1px black;
}

.info-title {
    width: fit-content;
    position: relative;
    top: 10px;
    left: 5px;
    background: linear-gradient(#ffffff 50%, #f0f8ff 50%);
}

.bann-message {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: radial-gradient(circle at top, #ffaaaa, #ffffff);
}

.refill-btn {
    position: absolute;
    align-self: flex-end;
    width: 35px;
    margin: 10px 30px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-btn {
    width: 35px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.unsubscribe-btn {
    margin: 10px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.continue-sub-btn {
    margin: 10px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.service-link {
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    cursor: pointer;
}

.service-link:hover {
    text-decoration: underline;
}