app-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    height: 100%;
    margin: 73px 0 150px 0;
    padding: 0 30px;
}

app-footer {
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}