<div [ngClass]="{
    'call-item': true,
    'initial-status': call.status === callStatus.Initial,
    'started-status': call.status === callStatus.Started,
    'finished-status': call.status === callStatus.Finished,
    'cancelled-status': call.status === callStatus.Cancelled,
    'rejected-status': call.status === callStatus.Rejected
}">
    <div class="main-content">
        <p class="target-title">name: {{ call.target.name }} {{ call.target.lastName || '' }}</p>
        <p class="target-phone">phone number: {{ call.target.phoneNumber }}</p>
    </div>
    
    <div class="additional-content">
        <p class="call-date">date: {{call.callStartDate}}</p>
        <p class="call-time">duration: {{call.callTime}}m</p>
    </div>
</div>
