.services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-list {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    top: 10px;
    z-index: -1;
}

app-service {
    width: 100%;
    border: black 1px solid;
    
    margin-bottom: 5px;
}

.subscribe-btn {
    width: 63px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(142, 239, 149);
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}